.toppromo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    width: 100%;
}
.toppromo-wrapper {
    max-width: 970px;
    width: 100%;
    position: relative;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--daypromo-bg-color);
}
.toppromo-left,
.toppromo-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 327px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
    background-color: #5A6A78;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px 3px #fff;
}
.toppromo-left {
    left: -8px;
}
.toppromo-right {
    right: -8px;    
}
.toppromo-left:hover {
    left: -24px;
    width: 48px;
    height: 48px;
    top: 310px;
    content: url("../../public/arrow-left.svg");
    box-shadow: none;
}
.toppromo-right:hover {
    top: 310px;
    right: -24px;
    top: 310px;
    width: 48px;
    height: 48px;
    content: url("../../public/arrow-rigth.svg");
    box-shadow: none;
}

.toppromo-heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.15;
    color: var(--toppromo-heading);
    margin: 0;
    margin-bottom: 19px;
}
.toppromo-hr {
    border: none;
    border-bottom: 1px solid #bedada;
}
.toppromo-selects {
    width: 341px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}
.toppromo-label {
    position: relative;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--header-text-color);
    transition: color 0.3s ease;
    cursor: pointer;
}

.toppromo-input {
    display: none;
}

.toppromo-input:checked + .toppromo-label {
    color: var(--text-color);
}
.toppromo-input:checked + .toppromo-label::after {
    position: absolute;
    top: 100%;
    left: 45%;
    width: 8px;
    height: 8px;
    background-color: #ff2e4c;
    border-radius: 50%;
    z-index: 1;
    content: "";
}

.toppromo-cards {
    display: flex;
    overflow: hidden;
    gap: 20px;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.toppromo-card {
    position: relative;
    flex: 1 1 290px;
    max-width: 290px;
    min-width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.toppromo-card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.toppromo-cards__date {
    position: absolute;
    top: 8px;
    left: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: var(--toppromo-date);
    border-radius: 4px;
    padding: 4px 12px;
    height: 30px;
    background-color: var(--tomato-2);
}

.toppromo-cards__date--2 {
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--tomato);
}

.toppromo-card .daypromo-link {
    font-family: var(--second-family);
}


.toppromo-slider {
    display: flex;
    align-items: center;
    width: 36px;
    gap: 8px;
    margin: 20px auto 0;
}
.toppromo-slider__dot {
    width: 6px;
    height: 6px;
    background-color: var(--slider-dot);
    border-radius: 50%;
    cursor: pointer;

}
.toppromo-slider__dot--active {
    width: 8px;
    height: 8px;
    background-color: var(--promo-count-color);
}